<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.inspect.dao.mapper.InspectMapper">


    <select id="searchInspectCiCombopList" resultType="codedriver.framework.cmdb.dto.ci.CiVo">
        select ci_id     as id,
               combop_id as combopId
        from inspect_ci_combop
    </select>


    <insert id="replaceInspectCiCombopList" parameterType="list">
        replace into inspect_ci_combop(ci_id, combop_id)
        values
        <foreach collection="ciVoList" item="ciVo" separator=",">
            ( #{ciVo.id}, #{ciVo.combopId})
        </foreach>
    </insert>


</mapper>

