<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.inspect.dao.mapper.InspectScheduleMapper">

    <resultMap id="scheduleVoMap" type="codedriver.framework.inspect.dto.InspectScheduleVo">
        <result column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="ciId" property="ciId"/>
        <result column="cron" property="cron"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="isActive" property="isActive"/>
        <result column="fcd" property="fcd"/>
        <result column="fcu" property="fcu"/>
        <result column="lcd" property="lcd"/>
        <result column="lcu" property="lcu"/>
        <association property="lcuVo" javaType="codedriver.framework.dto.UserVo">
            <result property="uuid" column="lcu" />
            <result property="userId" column="userId" />
            <result property="userName" column="userName" />
        </association>
    </resultMap>

    <select id="getInspectScheduleList" resultMap="scheduleVoMap">
        SELECT
            `id`,
            `uuid`,
            `ci_id` AS ciId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`,
            ( SELECT `user_id` FROM `user` WHERE `uuid` = a.`lcu` ) AS userId,
            ( SELECT `user_name` FROM `user` WHERE `uuid` = a.`lcu` ) AS userName
        FROM
            `inspect_schedule` a
    </select>

    <select id="getInspectScheduleById" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectScheduleVo">
        SELECT
            `id`,
            `uuid`,
            `ci_id` AS ciId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        FROM
            `inspect_schedule` a
        WHERE
            `id` = #{value}
    </select>

    <select id="getInspectScheduleByUuid" parameterType="java.lang.String" resultType="codedriver.framework.inspect.dto.InspectScheduleVo">
        SELECT
            `id`,
            `uuid`,
            `ci_id` AS ciId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        FROM
            `inspect_schedule` a
        WHERE
            `uuid` = #{value}
    </select>

    <select id="getInspectAppSystemScheduleById" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        SELECT
            `id`,
            `app_system_id` AS appSystemId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        FROM `inspect_appsystem_schedule`
        WHERE `id` = #{value}
    </select>

    <select id="getInspectAppSystemScheduleListByAppSystemIdList" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        SELECT
            `id`,
            `app_system_id` AS appSystemId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        FROM `inspect_appsystem_schedule`
        WHERE `app_system_id` IN
        <foreach collection="list" item="appSystemId" open="(" separator="," close=")">
            #{appSystemId}
        </foreach>
    </select>

    <select id="getInspectAppSystemScheduleCount" parameterType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo" resultType="int">
        SELECT
            COUNT(1)
        FROM `inspect_appsystem_schedule`
        WHERE `is_active` = #{isActive}
    </select>

    <select id="getInspectAppSystemScheduleList" parameterType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo" resultType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        SELECT
            `id`,
            `app_system_id` AS appSystemId,
            `cron`,
            `begin_time` AS beginTime,
            `end_time` AS endTime,
            `is_active` AS isActive,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        FROM `inspect_appsystem_schedule`
        WHERE `is_active` = #{isActive}
        LIMIT #{startNum}, #{pageSize}
    </select>

    <update id="updateInspectSchedule" parameterType="codedriver.framework.inspect.dto.InspectScheduleVo">
        UPDATE `inspect_schedule`
        SET `cron` = #{cron},
            `begin_time` = #{beginTime},
            `end_time` = #{endTime},
            `is_active` = #{isActive},
            `lcd` = NOW(3),
            `lcu` = #{lcu}
        WHERE `id` = #{id}
    </update>

    <update id="updateInspectScheduleStatus">
        UPDATE `inspect_schedule`
        SET `is_active` = #{isActive},
            `lcd` = NOW(3),
            `lcu` = #{lcu}
        WHERE `id` = #{id}
    </update>

    <update id="updateInspectAppSystemSchedule" parameterType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        UPDATE `inspect_appsystem_schedule`
        SET `cron` = #{cron},
            `begin_time` = #{beginTime},
            `end_time` = #{endTime},
            `is_active` = #{isActive},
            `lcd` = NOW(3),
            `lcu` = #{lcu}
        WHERE `id` = #{id}
    </update>

    <update id="updateInspectAppSystemScheduleStatus" parameterType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        UPDATE `inspect_appsystem_schedule`
        SET `is_active` = #{isActive},
            `lcd` = NOW(3),
            `lcu` = #{lcu}
        WHERE `id` = #{id}
    </update>

    <insert id="insertInspectSchedule">
        INSERT INTO `inspect_schedule` (
            `id`,
            `uuid`,
            `ci_id`,
            `cron`,
            `begin_time`,
            `end_time`,
            `is_active`,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        ) VALUES (
            #{id},
            #{uuid},
            #{ciId},
            #{cron},
            #{beginTime},
            #{endTime},
            #{isActive},
            NOW(3),
            #{fcu},
            NOW(3),
            #{lcu}
        )
    </insert>

    <insert id="insertInspectAppSystemSchedule" parameterType="codedriver.framework.inspect.dto.InspectAppSystemScheduleVo">
        INSERT INTO `inspect_appsystem_schedule` (
            `id`,
            `app_system_id`,
            `cron`,
            `begin_time`,
            `end_time`,
            `is_active`,
            `fcd`,
            `fcu`,
            `lcd`,
            `lcu`
        ) VALUES (
            #{id},
            #{appSystemId},
            #{cron},
            #{beginTime},
            #{endTime},
            #{isActive},
            NOW(3),
            #{fcu},
            NOW(3),
            #{lcu}
        )
    </insert>
</mapper>

